<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><b><%= value %></b></div>
  <% end %>
</div>

<h1>Weather Chart Interface</h1>
<p>Choose Zip Code</p>
<%= form_for Setting.first, :url => settings_zipcode_path do |f| %>
  <%= f.text_field :zipcode, :maxlength => 5, :size => 25 %>
  <%= f.submit "Submit" %>
<% end %>
<br>
<p>Display what type of data? (Y-Axis)</p>
<% DataType.all.each do |type| %>
<%= link_to "#{type.name}", settings_type_path(:data_type => type)%><br>
<% end %>
<br>
<p>Resolution (time between verticle bars)</p>
<%= link_to "60 minutes, 1 hour", settings_resolution_path(:x_res => 360) %><br>
<%= link_to "120 minutes, 2 hour", settings_resolution_path(:x_res => 720) %><br>
<%= link_to "180 minutes, 3 hour", settings_resolution_path(:x_res => 1080) %><br>
<%= link_to "240 minutes, 4 hour", settings_resolution_path(:x_res => 1440) %><br>
<br>
<%
=begin
%>
<p>Now (where to place CURRENT TIME from left to right 0-5)</p>
<%= link_to "Now: 0 (far left)", settings_now_path(:now => 0 )%><br>
<%= link_to "Now: 1", settings_now_path(:now => 1 )%><br>
<%= link_to "Now: 2", settings_now_path(:now => 2 )%><br>
<%= link_to "Now: 3", settings_now_path(:now => 3 )%><br>
<%= link_to "Now: 4", settings_now_path(:now => 4 )%><br>
<%= link_to "Now: 5 (far right)", settings_now_path(:now => 5 )%><br>
<br>
<%
=end
%>
<p>Update Chart (automatically every 5 minutes, or on trigger below)</p>
<%= link_to "UPDATE NOW", data_points_path %><br>
<br>
<p>Choose your Lights:</p>
<%= form_for Setting.first, :url => settings_light_path do |f| %>
  <%= f.text_field :light %>
  <%= f.submit "Submit" %>
<% end %>
<br>
<p>Extras</p>
<%= link_to "RAINBOW", settings_rainbow_path %><br>
<%= link_to "DO THE WORM", settings_worm_path %><br>
